
[v-cloak] { display: none }

* {
  /*
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-select:none;
   onselectstart="return false;"
  -moz-user-select:none;-webkit-user-select:none;
*/
}

input { -webkit-user-select: text; -webkit-user-select: auto; }

#nav_withback {
  position:fixed;z-index:10;width:100%;top:0;left:0;
}
#nav_withback .back {
  position:absolute;left:0;top:0;z-index:500;width:46px;background:#-FF0000;padding:15px 4px 12px 20px;float:left;
}
#nav_withback .weui_navbar{
  padding-left: 70px;
  width: auto;
  padding-right: 70px;
  position: relative;
}

#footer_annouce span{
  margin: 0 8px 0 8px;
}

.home-nav{
  padding:0px 10px 6px 10px;
}
.home-nav .home-icon-div {
  margin:0;text-align:center;
  height:32px;
  overflow:hidden;
  padding-bottom: -5px;
}
.home-nav .home-icon-div .home-icon {
  display:block;padding-top:2px;font-size:22px;
  color:#FFF;
  /*color:#00C002;*/
}

.home-nav p.weui_grid_label {
  color:#FFF;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}


.home-nav2{
  padding:0px 10px 6px 10px;
}

.home-nav2 .icon-bg{
  margin:10px;background:#-FFF;text-align:center;
}

.home-nav2 .icon-bg .home-icon-div {
  margin:0;text-align:center;height:32px;overflow:hidden;
  padding-bottom: -5px;
  /*border-radius:33%;*/
}
.home-nav2 .icon-bg .home-icon-div .home-icon {
  display:block;padding-top:2px;font-size:22px;
  color:#FFF;
  /*color:#00C002;*/
}

.home-nav2 p.weui_grid_label {
  /*color:#FFF;*/
  color:#999;
  font-size: 13px;
  /*font-weight: bold;*/
  padding-bottom: 5px;
}



.weui_tab{
  height: auto;
  /*z-index: 0;*/
}

.t-c{
  text-align: center;
}

.c-red{
  color:#db3652;
}

.dropload-load{
  /*display: none;*/
  text-align: center;
}

.dropload-down{
  text-align: center;
  padding-top: 10px;
  transform: scale(0.5,0.5);
}


#history .item{
  border-bottom:1px solid #CCC;
}
#history .item .user{
  float:left;width:100px;overflow:hidden;height:22px;text-overflow: ellipsis;white-space: nowrap;
  padding: 0 10px 0 0px;
}
#history .item .time{
  float:right;clear:none;
  padding-right: 5px;
}
#history .item .desc{
  float:left;clear:none;
  padding: 0 0 0 0px;
}
#history .item .desc span{
  color:#db3652;
}

.frame-title h1{
  text-align:center;color:#999;font-size: 22px;
}

.btn-size-m{
  padding-left: 6px;
  padding-right: 6px;
  /*box-sizing: border-box;*/
  font-size: 14px; 
}

.slide .dot span {
    border: 1px solid #DDD;
}

.slide li div {
  height: 100%;
  width: 100%;
}

.slide li div img {
  position: relative;
  height: 100%;
  width: auto;
}

.slide li div {
  text-align: center;
}

#slide2 .dot{
  width:100%;
  right: 0;
}

#app_home{
  margin-top: 0.5em;
}

.mt_-5{
  margin-top: 0.5em;
}

.bgwhite{
  background: #FFF;
}

.weui_grid-4{
  position: relative;
  float: left;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 25%;
}
.weui_grid-4:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
.weui_grid-4:nth-child(5n):after {
    border-right-width: 0;
}




.weui_grid-4-noline{
  position: relative;
  float: left;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 25%;
}
.weui_grid-4-noline:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-bottom: 0px solid #d9d9d9;
    border-right: 0px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
.weui_grid-4-noline:nth-child(5n):after {
    border-right-width: 0;
}





.weui_grid-3{
  position: relative;
  float: left;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 33.32%;
}
.weui_grid-3:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-right: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    /*z-index: 5;*/
}
.weui_grid-3:nth-child(3n):after {
    border-right-width: 0;
    /*background-color:#FF0000; */
}
.b-line{
  border-bottom: 1px solid #d9d9d9;
}
.t-line{
  border-bottom: 1px solid #d9d9d9;
}

.panel-title {
  color: #666;
  line-height: 36px;
  font-size: 0.9em;
  padding: 3px 0 3px 10px;
}

.product-3{
  overflow: hidden;
  text-align: center;
  /*min-height: 170px;*/
}
.product-3 img{
  /*width: 90%;*/
  width: 100%;
}
/*
.product{
  width: 100%;
  overflow: hidden;
}

.product img{
  width: 100%;
}
*/

.frame-title{
  margin-top:8px;
  position: relative;
}
.panel-more {
  position: absolute;
  right:0;
  top:5px;
  color: #666;
  line-height: 33px;
  font-size: 0.9em;
  padding: 0 10px 0 10px;
}

.m-lr-5{
  margin:0 5px 0 5px;
}


.product-grid-2{
  /*min-height: 13rem;*/
}

.product-grid-2 .product-3{
  /*min-height: 7.5rem;*/
  /*max-height: 10rem;*/
  padding-left: 1px;
}

.weui_grid-2{
  position: relative;
  float: left;
  /*padding: 4px 6px;*/
  box-sizing: border-box;
  padding: 0;
  width: 49.4%;
}
.weui_grid-2:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-right: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    /*z-index: 5;*/
}
.weui_grid-2:nth-child(2n):after {
    border-right-width: 0;
}

.product-title{
  position: absolute;
  bottom:5px;
  left: 1px;
  background: #111;
  padding-left: 5px;
  width: 100%;
  max-width: 95%;

  text-align: left;
  font-size: 13px;
  color:#FFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-length{
  position: absolute;
  bottom:5px;
  right: 0px;
  text-align: right;
  font-size: 13px;
  color:#FFF;
  background: #000;
  padding-right: 7px;
  padding-left: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.publish-title-3{
  padding-top: 8px;
  text-align: center;
  font-size: 12px;
  color:#555;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-process {
  margin:10px 70px 0 0px;
  font-size:13px;
  color:#999;
}
.product-process .rate{
  color:#0079fe;
  font-size: bold;
}






.w-button {
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    border-width: 0;
    border-style: solid;
    border-color: #1B7DE0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    outline: none;
}

.w-button-round {
    display: block;
    padding: 0;
    width: 32px;
    height: 32px;
    /*background: #db3652;*/
    /*background: #EF4F4F;*/
    background: #2D72D9;
    
    border: 0;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden;
    position: relative;
}

.w-button-addToCart:before {
    top: 15px;
    left: 8px;
    height: 0;
    border-top: 2px solid #fff;
}
.w-button-addToCart:before, .w-button-addToCart:after {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    overflow: hidden;
}
.w-button-addToCart:after {
    top: 8px;
    left: 15px;
    width: 0;
    border-left: 2px solid #fff;
}
.w-button-addToCart:before, .w-button-addToCart:after {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    overflow: hidden;
}



.weui_progress_inner_bar {
    background: #FFA538;
    background: -webkit-gradient(linear,left top,right top,from(#FFCB3D),to(#FF8533));
}


.tab_on{
  border-bottom: 3px solid #2D72D9;
}
.tab_on_orange{
  border-bottom: 3px solid #FD811B;
}
.tab_off{
  /*border-bottom: 2px solid #2D72D9;*/
}

.activable:active {
  background-color: #ECECEC;
}





.cal-time {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin: 0 2px;
  height: 40px;
  font-size: 0;
}

.cal-time a {
  display: inline-block;
  zoom: 1;
  font-size: 22px;
  color: #ccc;
  width: 40px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: solid 1px #d9d9d9;
}

.cal-time input {
  font-size: 16px;
  color: #333;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: solid 1px #d9d9d9;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  border-right: none;
  border-left: none;
}

.sel_group {
  margin-top: 20px;
}

.sel_group .quick_sel {
  display: inline-block;
  width: 60px;  
  height: 35px;
  border: 1px solid #d9d9d9;
  line-height: 35px;
}

.buy-btn {
  display: block;
  margin: 5px auto;
  width: 240px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #d91d37;
  color: #fff;
}

.m-par-item {
  height: 150px;
  border-bottom: solid 1px #e5e5e5;
}
.m-par-item .m-period-num {
  width: 80px;
  line-height: 150px;
  float: left;
}

.m-par-item .m-win-info {
  line-height: 35px; 
  float: left;
  width: 230px;
}

.m-par-item .m-win-info .win-info-item {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  line-height: 30px;
  width: 230px;
}

.charge_group {
  margin-top: 20px;
}

.charge_group .quick_sel {
  display: inline-block;
  width: 90px;  
  height: 35px;
  border: 1px solid #d9d9d9;
  line-height: 35px;
  border-radius: 3px;
}

.charge_group .quick_sel.second {
  margin-top: 10px;
}
.charge_group .quick_sel.active {
  border: 1px solid #d91d37;
}

.charge_group input {
  width: 90px;  
  height: 35px;
  border-radius: 3px;
  border: none;
  text-align: center;
}

/*/////////bottom popup/////////////////////////////////////////////*/

.popup_close_bg {
  position:fixed;height:2045px;bottom:0;background:#000000;z-index:599;width:100%;opacity:0.5;
}

.popup_bg {
  position:fixed;height:245px;bottom:0;background:#FFF;z-index:600;width:100%;opacity:1;
}

.popup_containter {
  position:fixed;height:245px;bottom:0;z-index:600;width:100%;color:#333;
}

.popup_close {
  float:right;margin:2px 16px 0 0;font-size:24px;
}


/*sticky*/
.sticky-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index:9998;
}


.weui_media_appmsg .weui_media_hd2 {
    margin-right: .8em;
    width: 90px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}




.avatar {
    display: block;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(/app/noavatar_big.gif);
    background-size: cover;
    background-position:center;
    border:solid 1px #CCC;
}






